---
- name: '[dependencies] Install parted and dirmngr'
  apt:
    name:
    - parted
    - dirmngr
    update_cache: yes
    state: present
    force: yes
  become: yes
  register: rpi_expandfs_dep_result
  until: rpi_expandfs_dep_result is succeeded
  tags:
  - rpi_expandfs
  - rpi_expandfs_dependencies

- name: '[dependencies] Add the GPG key of the apt-get repository for raspbian stretch'
  apt_key:
    keyserver: hkp://keyserver.ubuntu.com:80
    id: 7FA3303E
    state: present
  become: yes
  when: ansible_distribution_release == 'stretch'
  tags:
  - rpi_expandfs
  - rpi_expandfs_dependencies

- name: '[dependencies] Add apt-get repositories for raspbian stretch to install raspi-config and firmware'
  apt_repository:
    repo: deb http://archive.raspberrypi.org/debian/ stretch main ui     # holds raspi-config package
    state: present
  become: yes
  when: ansible_distribution_release == 'stretch'
  tags:
  - rpi_expandfs
  - rpi_expandfs_dependencies

- name: '[dependencies] Install raspi-config'
  apt:
    name: raspi-config
    update_cache: yes
    state: present
    force: yes
  become: yes
  register: rpi_expandfs_dep_result
  until: rpi_expandfs_dep_result is succeeded
  tags:
  - rpi_expandfs
  - rpi_expandfs_dependencies
...
